.hide-me {
    visibility: hidden;
}

body {
    margin: 0;
    background-color: #011F3F;
    text-align: center;
}

.title {
    color: #FEF2BF;
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 75px 0;
}

.start-btn {
    position:absolute;
    color: black;
    left: 25%;
    right: 25%;
    top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 25px;
    background-color: pink;
    border: 5px solid #faa5b2;
    box-shadow: 0 0 5px #faa5b2;
}

.container {
    margin: auto;
}

.btn {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 25px;
    border: 10px solid black;
    border-radius: 20%;
}

.green {
    background-color: green;
}

.red {
     background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

/* Phone view */
@media (max-width: 600px) {
    .btn {
        width: 140px;
        height: 140px;
        margin: 10px;
        border-width: 5px;
    }
    .title {
        font-size: 1rem;
    }

    .start-btn {
        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        bottom: calc(85vh - 500px);
        top: auto;
    }
}